{% extends 'base.html.twig' %}

{% block title %}Login Logs{% endblock %}

{% block body %}

<h1>Login Logs</h1>
<table class="table">
    <thead>
    <tr>
        <th>User</th>
        <th>Status</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    {% for log in loginLogs %}
        <tr>
            <td>{{ log.user.username }}</td>
            <td>{{ log.status }}</td>
            <td>{{ log.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
